.about-bg {
	background-image: url(/src/Assets/Icon/love.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.about-txt {
	background: rgba(255, 255, 255, 0.602);
}
